/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    background:#e8e8e8 url('../img/bg.png') 50% 130px no-repeat;
}

.content {
    padding:168px 0 137px 0px;
    max-width: 841px; /*для работы нижней строчки обязательно должно быть ограничение по ширине*/
     margin: 0 auto; /*выровнила по центру */
}


.content-top {
    text-align: center;
    margin-bottom: 0px 0px 65px 0px;
}
.content-top__travel {
    opacity: 0.6;
    color: #273d46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0px 0px 25px 0px;


}


.content-top__title {
    max-width: 725px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color: #273d46;
    margin: 0px auto;
}


.content__image {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background-color: #fff;
	padding: 10px;
	margin: 0px 0px 85px 0px;
}
.content__image img{
	max-width: 100%;
}

.content-bottom {
    padding: 0 45px;
}

.content-bottom__text {
    opacity: 0.8;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    color: #273d46;
    margin: 0px 0px 48px 0px;
}

.content-bottom__text p{
    margin-bottom: 0px 0px 40px 0px;
    
}
.content-bottom__text p:last-child{
	margin: 0;
}

.content-bottom-info-list {
    margin: 0px 0px 59px 0px;
}

.content-bottom-info-list li{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin: 0px 0px 18px 0px;
	background: url('../img/icons/check.png') left no-repeat;
	padding: 0px 0px 0px 35px;
}

.content-bottom-info-list li:last-child{
    margin: 0;
}

.content-bottom-info-list li:nth-child(1){
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #273d46;
    
}
.content-bottom-info-list li:nth-child(2){
    color: #80b7b3;
	font-style: italic;
    
}
.content-bottom-info-list li:nth-child(3){
    color: #273d46;
	font-weight: bold;
    
}
.content-bottom-info-list li:nth-child(4){
    color: #aeb5b7;
	text-decoration: line-through;
    
}
.content-bottom-info__link {
    height: 44px;
    display: inline-block;
    line-height: 44px;
    border-radius: 25px;
    padding: 0px 30px;
    background-color:#80b7b3;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.5);

	
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
}

.content-bottom-info__link span{
	padding: 0px 30px 0px 0px;
	background: url('../img/icons/arrow.png') right no-repeat;
}